{% extends "base.html" %}
{% block header %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}
  <!-- body -->
  <!-- /body -->

<!--    <img height=85% width=85% src = {{ LocationData[1] }} alt="image" id="image">-->
    <!-- Body background = {{ LocationData[1] }} id = "image" -->
    {% block content %}
    <style>
        #bgimage {
        position: absolute;
        left: 0px;
        top: 0px;
        background-image: url('{{ LocationData[1] }}');
        height:100vh;
        width:100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index:-1;

        text-align: center;
        }

        #info {
        z-index:1;
        }
        .button {
  background-color: #98c6d6;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
    </style>
    <div id = 'bgimage'>
        <h>{{ LocationData[2] }}</h>
    </div>
    <div id = "info" class = 'myDiv'>
<!--        background id = "image"-->
<!--        background-repeat: no-repeat;-->
<!--        background-attachment: fixed;-->
<!--        background-size: 100% 100%;-->
<!--        <br>-->
<!--    </Body>-->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id = "ImgDesc" class="button">Show Image Description</button>
    <button id = "Facts" class="button">Show facts</button>
    <button id = "Hints" class="button">Need hints</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id = "Guess" class="button">Proceed to guess</button>

    <ul id="myImgDesc" style="display:none">
        <p>Image Description:</p>
        <li><strong>{{ LocationData[2] }}</strong></li>
    </ul>

    <ul id="myFacts" style="display:none">
        <br>
        <p>Facts about the Country:</p>
        <li><strong>{{ LocationData[3] }}</strong></li>
        <li><strong>{{ LocationData[4] }}</strong></li>
    </ul>

    <ul id="myHints" style="display:none"  >
        <br>
        <p>Hints:</p>
        <li><strong>{{ LocationData[5] }}</strong></li>
        <li><strong>{{ LocationData[6] }}</strong></li>
    </ul>

    <script>

      function reduceOpacity(){
        var image = document.getElementById("bgimage");
        image.style.opacity = '0.5';

        document.getElementsByClassName('myDiv')
      }
      function increaseOpacity(){
        var image = document.getElementById("bgimage");
        image.style.opacity = '1';
      }


      document.getElementById("Guess").addEventListener("click", function() {
          window.location.href = window.location.origin + "/map";
      });

      list = document.getElementById("myImgDesc");
      document.getElementById("ImgDesc").addEventListener("click", function() {
        if (list.style.display === "none") {
            list.style.display = "block";
            list.color = "yellow"
            reduceOpacity()
        } else {
            list.style.display = "none";
            if(list1.style.display === "none"){
                if(list2.style.display === "none"){
                    increaseOpacity()
                }
            }
        }
      });

      list1 = document.getElementById("myFacts");
      document.getElementById("Facts").addEventListener("click", function() {
        if (list1.style.display === "none") {
            list1.style.display = "block";
            list1.color = "blue";
            reduceOpacity()
        } else {
            list1.style.display = "none";
            if(list.style.display === "none"){
                if(list2.style.display === "none"){
                    increaseOpacity()
                }
            }
        }
      });

      list2 = document.getElementById("myHints");
      document.getElementById("Hints").addEventListener("click", function() {
        if (list2.style.display === "none") {
            list2.style.display = "block";
            list2.color = "blue";
            reduceOpacity()
        } else {
            list2.style.display = "none";
            if(list1.style.display === "none"){
                if(list.style.display === "none"){
                    increaseOpacity()
                }
            }
        }
        const a = 1
        $.ajax({
            url:"/clue",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(a)
        });
      });
    </script>
</div>
{% endblock %}