{% extends "base.html" %}
{% block header %}
    <!-- Required Meta tags -->
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">

    <!-- css link for this html, and for the leaflet map-->
    <link rel="stylesheet" type="text/css" href = "../static/css/guessedpage.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

    <!-- src link for leaflet javascript -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <script src ="../static/js/guessedpage.js"></script>

    <title>EduGuesser</title>
    <link rel="stylesheet" href="styles.css">
{% endblock %}

{% block content %}
    <div displayLocation>

    </div>
    <div map>

    </div>
    <div guessedpage>
        
    </div>

{% endblock %}